.formList {
  &-root {
    display: flex;
  }
  &-list {
    overflow: hidden;
    flex: 1;
    margin-right: 0;
  }
  &-dropdown {
    width: 40px;
    text-align: left;
  }
  &-search {
    width: 300px;
  }
}
